exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "gray.colors", "hcl.colors")
     importFrom("graphics", "abline", "boxplot", "contour", "hist", "image",
                "legend", "lines", "par", "plot.new", "points", "segments",
                "text")
     importFrom("stats", "approx", "density", "ecdf", "qqline", "qqnorm",
                "quantile", "stepfun")
